body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
}

.left-section {
    background: #29A3FF;
    color: white;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}
.right-section img {
    max-width: 30%;
    height: auto;
}

.left-section img {
    max-width: 87%;
    height: auto;
}

.right-section {
    background: #E3F2FD;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login-box, .video-box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-box h1, .video-box h2 {
    color: #007BFF;
}

.input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.input-group input {
    width: 80%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

button {
    background: #007BFF;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    width: 80%;
    margin-top: 10px;
}

button:hover {
    background: #0056b3;
}

video {
    width: 100%;
    border-radius: 10px;
}
